{
	email {$ACME_EMAIL}
}

{$DROP_SITE_ADDRESS:localhost} {
	encode zstd gzip
	reverse_proxy app:8080

	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		X-Frame-Options "DENY"
	}
}
